# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log
logs/
hs_err_pid*
replay_pid*

# Compilados y dependencias de Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
dependency-reduced-pom.xml
release.properties
mvnw*
.mvn/

# Configuración de IDEs
### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/

### Eclipse ###
.classpath
.project
.settings/

### VS Code ###
.vscode/

# BlueJ
*.ctxt

# Docker
docker-compose.override.yml
*.env
.dockerignore

# Base de datos local
*.sql
*.db
*.data
*.h2.db
*.mv.db
*.ldb

# Jacoco Coverage reports
jacoco.exec
jacoco-report/
coverage/
target/site/jacoco/

# GitHub Actions
.github/workflows/*.log
.github/workflows/*.bak
.github/workflows/*.temp
.github/workflows/cache/

# AWS Elastic Beanstalk
.elasticbeanstalk/
.elasticbeanstalk/config.yml

# Archivos comprimidos
*.zip
*.tar.gz
*.rar

# Archivos temporales del sistema
.DS_Store
Thumbs.db
